@tailwind base;
@tailwind components;
@tailwind utilities;

body.light-theme {
  /* Light theme styles */
  background-color: #ffffff;
  color: #000000;
}

body.dark-theme {
  /* Dark theme styles */
  background-color: #474545;
  color: #ffffff;
}
